:root {
  --loader-status: none;
}

body {
  background-color: #1A2A40;
  display: flex;
  flex-direction: column;
  height: 99vh;
  align-items: center;
  color: #EBF4F7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

body > * {
  max-width: 42em;
  width: 90%;
}

#start img {
  width: 100%;
}

body > section:not(.active) {
  display: none;
}

section h1 {
  margin-top: 4%;
  text-transform: uppercase;
  text-align: center;
}

nav {
  margin-top: auto;
  height: 3em;
  display: flex;
  width: 100%;
  border-top: 1px solid white;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 50%;
  height: 100%;
}

nav li:first-of-type {
  border-right: 1px solid white;
}

a {
  color: #EBF4F7;
}

#popularMovies a {
  color: #EBF4F7;
}

#popularMovies a:visited {
  color: #2474A6;
}

#popularMovies {
  list-style-type: none;
}

#popularMovies li {
  margin-top: 5px;
  padding: 0.5em;
  border: solid 1px #EBF4F7;
  line-height: 140%;
}

#popularMovies li:hover {
  background-color: #2474A6;
}

#popularMovies li:hover a:visited {
  color: #1A2A40;
}

#movieDetails img[data-bind="backdrop_path"] {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

#movieDetails h3 {
  text-align: center;
  font-size: 2em;
}

section.active img[alt="loaderGif"] {
  display: var(--loader-status);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(1.5);
}

nav #backButton {
  display: none;
}

#movieDetail.active ~ nav li:nth-child(1), #movieDetail.active ~ nav li:nth-child(2) {
  display: none;
}

#movieDetail.active ~ nav #backButton {
  display: flex;
  width: 100%;
}
